---

image:
  name: maven:3.9-eclipse-temurin-11

variables:
  MAVEN_OPTS: "-Xmx256m"

stages:
  - build
  - deploy
  - trigger

maven-build:
  stage: build
  environment: staging
  script:
    - "mvn package"
  tags:
    - docker

maven-deploy:
  stage: deploy
  environment: staging
  script:
    - "mvn deploy -DperformRelease"
  rules:
    - if: $CI_COMMIT_BRANCH == "v5-main"
    - if: $CI_COMMIT_BRANCH == "v5-dev"
    - if: $CI_COMMIT_BRANCH =~ /^v5-ft-.*-deploy$/
    - if: $CI_COMMIT_BRANCH =~ /^v5-hf-.*$/
  tags:
    - docker

trigger:
  stage: trigger
  trigger:
    project: igloo-project/igloo-commons
    branch: $CI_COMMIT_BRANCH
  rules:
    - if: $CI_COMMIT_BRANCH == "v5-dev"
