---

image:
  name: igloo-containers.tools.kobalt.fr/containers/maven-igloo:3.9-eclipse-temurin-17

variables:
  MAVEN_OPTS: "-Xmx256m"

stages:
  - build
  - deploy
  - trigger

maven-build:
  stage: build
  environment: staging
  script:
    # non recursive: all poms are checked at once
    - "mvn -N spotless:check@format-poms"
    - "mvn package"
  tags:
    - docker

maven-deploy:
  stage: deploy
  environment: staging
  script:
    - "mvn deploy -DperformRelease"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "dev"
    - if: $CI_COMMIT_BRANCH =~ /^ft-.*-deploy$/
    - if: $CI_COMMIT_BRANCH =~ /^hf-.*$/
  tags:
    - docker

trigger:
  stage: trigger
  trigger:
    project: igloo-project/igloo-commons
    branch: $CI_COMMIT_BRANCH
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"

